.hint {
    color: black;
    background-color: green;
    width: 100%;
    border: 3px solid yellow;
}

.hintPic{
    width: 100%;
    border: 3px solid green;
}

.img {
 
    width:  100px;
    height: 100px;
    object-fit: cover;
}